<div class="container-fluid">
  <div
    class="row px-3 justify-content-center align-items-center"
    style="max-height: 90vh; overflow-y: auto"
  >
    <div class="assignusr-cont col-md-9 mx-auto my-3">
      <h5 class="cont-title mt-3">
        {{ "assignusr-title" | translate }}
      </h5>
      <hr class="my-2" />

      <!-- USER ASSIGN SELECT-->
      <div class="row rep-cont">
        <h6 class="req-fields mx-auto rep-txt mt-2">
          {{ "assignusr-info" | translate }}
        </h6>
        <div class="text-left">
          <label for="susrTypeahead" class="form-label rep-txt">
            {{ "assignusr-lbl" | translate }}</label
          >
          <div class="row align-items-center">
            <div class="col">
              <input
                type="text"
                id="susrTypeahead"
                class="form-control mb-2"
                [placeholder]="sUserPh"
                [ngbTypeahead]="search"
                [inputFormatter]="formatter"
                (selectItem)="onUserSelected($event)"
                [disabled]="dsblRepInpt"
                #susrTypeahead
              />
            </div>
            <div class="col-auto">
              <i
                class="whicons bi bi-person-x-fill"
                id="bi-deleteusr"
                (click)="clearSelectedUser()"
              ></i>
            </div>
            <div *ngIf="vvSaveUserBtn" class="col-auto">
              <i
                class="whicons bi bi-person-fill-add"
                (click)="assignUserToBusiness()"
              ></i>
            </div>
          </div>
        </div>
      </div>
      <!-- END USER ASSIGN SELECT-->
      <div
        class="row usr-ls-cont mt-2"
        style="max-height: 60vh; overflow-y: auto"
      >
        <div class="text-center">
          <h6 class="req-fields mx-auto mt-2 usrls-txt">
            {{ "assignusr-list-title" | translate }}
          </h6>
          <div *ngIf="vvLabelNoUsersAssigned" class="row">
            <h6 class="req-fields mx-auto my-2">
              {{ "assignusr-list-nousrs" | translate }}
            </h6>
            <i class="bi bi-stars my-2"></i>
          </div>
        </div>
        <div *ngIf="!vvLabelNoUsersAssigned" class="row my-2 mx-auto">
          <!-- ######## Show only on phones - title labels ############ -->
          <div class="col text-center d-block d-sm-none">
            <span class="req-fields mx-auto">
              {{ "assignusr-ls-lbl-email" | translate }}
            </span>
          </div>
          <div class="col text-center d-block d-sm-none">
            <span class="req-fields mx-auto">
              {{ "assignusr-ls-lbl-role" | translate }}
            </span>
          </div>
          <div class="col text-center d-block d-sm-none">
            <span class="req-fields mx-auto">
              {{ "assignusr-ls-lbl-action" | translate }}
            </span>
          </div>
          <!-- ######## END Show only on phones - title labels ############ -->
          <!-- ######## Show on PC - title labels ############ -->
          <div class="col d-none d-sm-block">
            <span class="req-fields mx-auto">
              {{ "assignusr-ls-lbl-name" | translate }}
            </span>
          </div>
          <div class="col d-none d-sm-block">
            <span class="req-fields mx-auto">
              {{ "assignusr-ls-lbl-email" | translate }}
            </span>
          </div>
          <div class="col d-none d-sm-block">
            <span class="req-fields mx-auto">
              {{ "assignusr-ls-lbl-role" | translate }}
            </span>
          </div>
          <div class="col d-none d-sm-block">
            <span class="req-fields mx-auto">
              {{ "assignusr-ls-lbl-action" | translate }}
            </span>
          </div>
          <!-- ######## END Show on PC - title labels ############ -->
        </div>
        <!-- ########  USER LIST ############ -->
        <div *ngIf="!vvLabelNoUsersAssigned" class="row my-2 ">
          <div
            *ngFor="let user of assignedUserLs"
            class="row my-2 mx-auto align-items-center"
          >
            <!-- ######## Show only on phone - values ######## -->
            <div class="col d-block d-sm-none">
              <input
                class="form-control"
                type="text"
                name="bname"
                [value]="user.email"
                disabled
              />
            </div>
            
            <div class="col d-block d-sm-none" >
              <select
                class="form-control"
                name="role"
                [(ngModel)]="user.roleEntity.idRole"
              >
                <option *ngFor="let role of roleList" [value]="role.idRole">
                  {{ role.name }}
                </option>
              </select>
            </div>
            <div class="col-auto d-block d-sm-none" style="width: 0.8rem;" >
              <div class="row">
                <div class="col">
                  <i class="bi bi-save2"></i>
                </div>
              </div>
            </div>
            <!-- ######## Show only on phone - values ######## -->
          </div>
        </div>
        <!-- ######## END USER LIST ############ -->
      </div>
    </div>
  </div>
</div>
