.assignusr-cont{
    background-color: white;
}
.rep-cont{
    background-color: #474747;
    border-radius: 10px;
}
.rep-txt{
    color: white;
}
.whicons{
    color: white;
}
.usr-ls-cont{
    background-color: #ececec;
    border-radius: 10px;
}
.usrls-txt{
    color: black;
}