.navbar {
  background-color: #222222;
}

.navbar-brand {
  color: white;
}
.logo{
  width: 1rem;
  height: 1rem;
}
.bi {
  color: white;
}
.login-cont {
  background-color: white;
  border-radius: 10px;
}

.form-label {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #474747;
}
.cont-title {
  font-size: 1.2rem;
}

.btn {
  background-color: #222222;
  border: 1px solid #222222;
}
.btn:active {
  background-color: #474747;
}
#btn-signin {
  background-color: white;
  color: #222222;
}
#btn-signin:hover {
  background-color: #222222;
  color: white;
}
#sigin-msg {
  font-size: 1rem;
}
.recover-pass {
  text-decoration: underline;
  font-size: 1rem;
}
