<div class="container-fluid">
  <div
    class="row px-3 justify-content-center align-items-center"
    style="min-height: 90vh"
  >
    <div class="event-cont col-md-6 mx-auto my-3">
      <div class="text-left">
        <h5 class="cont-title mt-3">
          {{ "event-title" | translate }}
        </h5>
        <span class="req-fields mx-auto">
          {{ "business-add-description" | translate }}
        </span>
        <hr class="mt-2 mb-2" />
        <div [formGroup]="addEventForm" class="mt-1">
          <label for="ename-inpt" class="form-label">{{
            "event-lbl-name" | translate
          }}</label>
          <input
            type="text"
            class="form-control"
            id="ename-inpt"
            placeholder="Working name"
            formControlName="ename"
            name="ename"
          />
          <label for="edate-inpt" class="form-label mt-1">{{
            "event-lbl-date" | translate
          }}</label>
          <input
            type="date"
            class="form-control"
            id="edate-inpt"
            placeholder=""
            formControlName="edate"
            name="edate"
          />
          <label for="edesc-inpt" class="form-label mt-1">{{
            "event-lbl-desc" | translate
          }}</label>
          <input
            type="text"
            class="form-control"
            id="edesc-inpt"
            placeholder=""
            formControlName="edesc"
            name="edesc"
          />
          <label for="edate-inpt" class="form-label mt-1">{{
            "event-lbl-location" | translate
          }}</label>
          <div
            *ngIf="vvMapInitialized"
            class="map"
            leaflet
            [leafletOptions]="options"
            (leafletMapReady)="onMapReady($event)"
          ></div>
          <div class="d-grid gap-2 col-6 mx-auto my-3">
            <button class="btn btn-primary" type="button" id="btn-saveb">
              {{ "event-btn-save" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
