.event-cont {
    background-color: white;
    border-radius: 10px;
  }
  .req-fields{
    font-size: 0.9rem;
    color: red;
  }
  .btn {
    background-color: #222222;
    border: 1px solid #222222;
  }
  .btn:active {
    background-color: #474747;
  }
  #btn-saveb {
    background-color: white;
    color: #222222;
  }
  #btn-saveb:hover {
    background-color: #222222;
    color: white;
  }
  
  .map {
    height: 60vh;
    padding: 0;
  }