.navbar {
  background-color: #222222;
}

.navbar-brand {
  color: white;
}
.bi {
  color: white;
}
.rpassword-cont {
  background-color: white;
  border-radius: 10px;
}
.form-label{
  font-size: 0.9rem;
}