<!--
    NAVBAR
-->
<nav class="navbar">
  <div class="container-fluid">
    <i class="bi bi-house-fill" (click)="goHome()"></i>
    <i class="bi bi-translate" (click)="switchLanguage()"></i>
  </div>
</nav>
<!--
      RESTORE PASSWORD FORM
  -->
<div class="container-fluid">
  <div
    class="row px-3 justify-content-center align-items-center"
    style="min-height: 90vh"
  >
    <div class="rpassword-cont col-md-4 mx-auto my-3">
      <div class="text-center">
        <h4 class="cont-title mt-3">
          {{ "rpassword-title" | translate }}
        </h4>
      </div>
      <h6 class="form-label my-3">{{ "rpassword-info" | translate }}</h6>
      <h6 for="email-inpt" class="form-label mt-1 text-left">
        {{ "email" | translate }}
      </h6>
      <input
        type="email"
        class="form-control"
        id="email-inpt"
        placeholder="name@example.com"
        name="email"
        [(ngModel)]="email"
      />
      <div class="d-grid gap-2 col-6 mx-auto my-3">
        <button
          class="btn btn-primary"
          type="button"
          id="btn-restorepass"
          (click)="restorePassword()"
        >
          {{ "rpassword-btn" | translate }}
        </button>
      </div>

      <h6 *ngIf="vvCodeInput" for="code-inpt" class="form-label mt-1 text-left">
        {{ "rpassword-lbl" | translate }}
      </h6>
      <input
        *ngIf="vvCodeInput"
        type="text"
        class="form-control"
        id="code-inpt"
        placeholder=""
        name="code"
        [(ngModel)]="code"
      />
      <div *ngIf="vvCodeInput" class="d-grid gap-2 col-6 mx-auto my-3">
        <button
          class="btn btn-primary"
          type="button"
          id="btn-verifycode"
          (click)="verifyCode()"
        >
          {{ "rpassword-verify" | translate }}
        </button>
      </div>

      <h6
        *ngIf="vvNewPasswordInput"
        for="newpassword-inpt"
        class="form-label mt-1 text-left"
      >
        {{ "rpassword-lbl-newpass" | translate }}
      </h6>
      <input
        *ngIf="vvNewPasswordInput"
        type="password"
        class="form-control"
        id="newpassword-inpt"
        placeholder=""
        name="newpassword"
        [(ngModel)]="newPassword"
      />
      <h6
        *ngIf="vvNewPasswordInput"
        for="vnewpassword-inpt"
        class="form-label mt-1 text-left"
      >
        {{ "rpassword-lbl-verifynewpass" | translate }}
      </h6>
      <input
        *ngIf="vvNewPasswordInput"
        type="password"
        class="form-control"
        id="vnewpassword-inpt"
        placeholder=""
        name="vnewpassword"
        [(ngModel)]="verifyNewPassword"
      />
      <div *ngIf="vvNewPasswordInput" class="d-grid gap-2 col-6 mx-auto my-3">
        <button
          (click)="changePassword()"
          class="btn btn-primary"
          type="button"
          id="btn-chgpass"
        >
          {{ "rpassword-btn-chg" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
