.bioptions-cont{
    background-color: white;
    border-radius: 10px;
}

.biCont{
    border-radius: 10px;
    background-color: #474747;
}
.ls-title{
    color: white;
}
.biCont-ls{
    border-radius: 10px;
    
}