<div class="container-fluid">
  <div
    class="row px-3 justify-content-center align-items-center"
    style="min-height: 90vh"
  >
    <div class="business-cont col-md-4 mx-auto my-3">
      <div class="text-left">
        <h5 class="cont-title mt-3">
          {{ "business-add-title" | translate }}
        </h5>
        <div [formGroup]="addBusinessForm" class="mt-1">
          <label for="bname-inpt" class="form-label">{{
            "businessform-name" | translate
          }}</label>
          <input
            type="text"
            class="form-control"
            id="bname-inpt"
            placeholder="High Tide studios"
            formControlName="bname"
            name="bname"
          />
          <label for="bdescription-inpt" class="form-label mt-1">{{
            "businessform-description" | translate
          }}</label>
          <input
            type="text"
            class="form-control"
            id="bdescription-inpt"
            placeholder="Software development and design studio"
            formControlName="bdescription"
            name="bdescription"
          />
          <label for="bcountry-ls" class="form-label mt-1">{{
            "businessform-country" | translate
          }}</label>
          <select
            class="form-select"
            id="bcountry-ls"
            name="bcountry-ls"
            formControlName="bcountry"
            aria-label="Select country"
            (change)="onCountrySelection()"
          >
            <option
              *ngFor="let country of coutryList"
              [ngValue]="country"
            >
              {{ country.name }}
            </option>
          </select>
          <label for="bstate-ls" class="form-label mt-1">{{
            "businessform-state" | translate
          }}</label>
          <select
            class="form-select"
            id="bstate-ls"
            name="bstate-ls"
            formControlName="bstate"
            aria-label="Select state"
            (change)="onStateSelection()"
          >
            <option *ngFor="let state of stateList" [ngValue]="state">
              {{ state.name }}
            </option>
          </select>
          <label for="bcity-ls" class="form-label mt-1">{{
            "businessform-city" | translate
          }}</label>
          <select
            class="form-select"
            id="bcity-ls"
            name="bcity-ls"
            formControlName="bcity"
            aria-label="Select city"
            (change)="onStateSelection()"
          >
            <option *ngFor="let city of cityList" [ngValue]="city">
              {{ city.name }}
            </option>
          </select>
          <label for="bzipcode-inpt" class="form-label mt-1">{{
            "businessform-zipcode" | translate
          }}</label>
          <input
            type="text"
            class="form-control"
            id="bzipcode-inpt"
            placeholder="0001"
            formControlName="bzipcode"
            name="bzipcode"
          />
          <label for="baddress-inpt" class="form-label mt-1">{{
            "businessform-address" | translate
          }}</label>
          <input
            type="text"
            class="form-control"
            id="baddress-inpt"
            placeholder="Av. Eloy Alfaro y De los juncos"
            formControlName="baddress"
            name="baddress"
          />
          <label for="bphone-inpt" class="form-label mt-1">{{
            "businessform-phone" | translate
          }}</label>
          <input
            type="text"
            class="form-control"
            id="bphone-inpt"
            placeholder="0979370860"
            formControlName="bphone"
            name="bphone"
          />
          <label for="bemail-inpt" class="form-label mt-1">{{
            "businessform-email" | translate
          }}</label>
          <input
            type="text"
            class="form-control"
            id="bemail-inpt"
            placeholder="dskato0603@gmail.com"
            formControlName="bemail"
            name="bemail"
          />
        </div>
      </div>
    </div>
  </div>
</div>
