<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
      <div class="col-9" >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarToggleExternalContent"
          aria-controls="navbarToggleExternalContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="col text-end" >
        <i class="bi bi-translate" (click)="switchLanguage()"></i>
      </div>
      
    </div>
</nav>
<!--MASTER COLLAPSE-->
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <div class="row">
      <!--BUSINESS BUTTON-->
      <div
        data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent-business"
        aria-controls="navbarToggleExternalContent-business"
        aria-expanded="false"
        aria-label="Toggle navigation-business"
        class="row"
      >
        <div class="col-1" style="width: 2rem">
          <i class="bi bi-building-fill"></i>
        </div>
        <div class="col">
          <span class="nav-txt mx-auto" id="sigin-msg">
            {{ "navbar-business" | translate }}
          </span>
        </div>
      </div>
      <!--SUB BUSINESS-->
      <!--ADD BUSINESS-->
      <div
        class="collapse"
        id="navbarToggleExternalContent-business"
        data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent"
        aria-expanded="false"
      >
        <div class="row mt-2" (click)="showComponent('addBusiness')">
          <div class="col-1 ms-4" style="width: 2rem">
            <i class="bi bi-building-fill-add"></i>
          </div>
          <div class="col">
            <span class="nav-txt mx-auto" id="sigin-msg">
              {{ "business-add-title" | translate }}
            </span>
          </div>
        </div>
      </div>
      <!--BUSINESS MANAGEMENT-->
      <div
        class="collapse"
        id="navbarToggleExternalContent-business"
        data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent"
        aria-expanded="false"
      >
        <div class="row mt-2" (click)="showComponent('biManagement')">
          <div class="col-1 ms-4" style="width: 2rem">
            <i class="bi bi-building-fill-gear"></i>
          </div>
          <div class="col">
            <span class="nav-txt mx-auto" id="sigin-msg">
              {{ "business-managment-option" | translate }}
            </span>
          </div>
        </div>
      </div>
      <!--END SUB BUSINESS-->
      <!--MANAGE USERS-->
      <div class="row mt-3">
        <div class="col-1" style="width: 2rem">
          <i class="bi bi-people-fill"></i>
        </div>
        <div class="col">
          <span class="nav-txt mx-auto" id="sigin-msg">
            {{ "navbar-users" | translate }}
          </span>
        </div>
      </div>
       <!--SIGN OUT-->
      <div class="row mt-3" (click)="logOut()">
        <div class="col-1" style="width: 2rem">
          <i class="bi bi-door-open-fill"></i>
        </div>
        <div class="col">
          <span class="nav-txt mx-auto" id="sigin-msg">
            {{ "navbar-signout" | translate }}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- END MASTER COLLAPSE-->
</div>
<app-business *ngIf="vvAddBusinessComponent"></app-business>
<app-bi-management-options *ngIf="vvBIManagementOptionsComponent"></app-bi-management-options>
