<div class="container-fluid">
  <div
    class="row px-3 justify-content-center align-items-center"
    style="max-height: 90vh; overflow-y: auto"
  >
    <div class="hrate-cont col-md-9 mx-auto my-3">
      <div class="text-left">
        <h5 class="cont-title mt-3">
          {{ "hrate-title" | translate }}
        </h5>
        <span class="req-fields mx-auto">
          {{ "hrate-desc" | translate }}
        </span>
        <hr class="mt-2 mb-2" />
        <div [formGroup]="assignHR" class="mt-1">
          <label for="hrate-inpt" class="form-label">{{
            "hrate-lbl" | translate
          }}</label>
          <input
            type="text"
            class="form-control"
            id="hrate-inpt"
            placeholder="15"
            formControlName="hrate"
            name="hrate"
          />
          <div class="d-grid gap-2 col-6 mx-auto my-3">
            <button
              class="btn btn-primary"
              type="button"
              id="btn-saveb"
              (click)="assignHourlyRate()"
            >
              {{ "hrate-save" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
