<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="col-9">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="col text-end">
      <i class="bi bi-translate" (click)="switchLanguage()"> </i>
    </div>
  </div>
</nav>
<!--MASTER COLLAPSE-->
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <div class="row">
      <!--SIGN OUT-->
      <div class="row mt-3" (click)="logOut()">
        <div class="col-1" style="width: 2rem">
          <i class="bi bi-door-open-fill"></i>
        </div>
        <div class="col">
          <span class="nav-txt mx-auto" id="sigin-msg">
            {{ "navbar-signout" | translate }}
          </span>
        </div>
      </div>
      <!--END SIGN OUT-->
    </div>

  </div>
  <!-- END MASTER COLLAPSE-->
</div>
