.user-cont{
    background-color: white;
    border-radius: 10px;
}
.usr-lbls{
    border-radius: 10px;
    background-color: #474747;
}
.ls-title{
    color: white;
}
.usr-item{
    background-color: #ececec;
    border-radius: 10px;
}
.ls-item-title{
   font-weight: 500;
}
.ls-item-sub{
    font-size: 0.8rem;
    color: rgb(114, 114, 114);
}